<% if logged_in? %>
  <h3>You are logged in.</h3>
  <p>
    <%= link_to("Books", books_path) %> | 
    <%= link_to("Logout", logout_path) %>
  </p>
<% else %>
  <h2>Login</h2>
  <% form_for @user_session do |form| %>
    <%= form.error_messages %>
    <ol class="formList">
      <li>
        <%= form.label :username, "Username" %>
        <%= form.text_field :username %>
      </li>
      <li>
        <%= form.label :password, "Password" %>
        <%= form.password_field :password %>
      </li>
      <li>
        <%= form.submit "Submit" %>
      </li>
    </ol>
  <% end %>
<% end %>